<html>
<head>
<link href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
<link href='../public/stylesheets/landing.css' rel='stylesheet'>
</head>
<body>
  <nav class="navbar navbar-light bg-light">
    <a class="navbar-brand" href="#">Project: Code Talkers</a>
  <div class = 'w-50 d-flex justify-content-end'>
    <a class = 'mr-5' href = '#'> Login</a>
    <a class = '' href = '/sign_up'> Sign Up!</a>
  </div>
  </nav>

<div class = 'd-column'>
  <div class= "slideshow h-75 d-flex flex-column jumbotron">
    <h1> Come learn with us </h1>
    <div class = ' d-flex'>
        <div class="lead "> I would like to learn:</div>
        <div  class = 'ml-3 languages'></div>
     </div>
   <hr>
    <p class="lead">
      <a class="btn btn-primary btn-lg" href="#" role="button">Learn more</a>
    </p>
    <hr>
</div>
<footer class = 'mx-auto text-justify justify-content-center container'>
<p> When you’re learning a language,
  you’re not just learning a learning a grammar,
  syntax or vocabulary.
  You’re learning to understand a whole different way of life.
  You learn that a whole new world is out there,
  just waiting for you to explore it! What are you waiting for?
  Come join our community and begin exploring!</p>
</footer>
</div>

<script src="https://cdn.jsdelivr.net/npm/typed.js@2.0.9"></script>
<script src="https://code.jquery.com/jquery-3.3.1.js" integrity="sha256-2Kok7MbOyxpgUVvAk/HJ2jigOSYS2auK4Pfzbm7uH60="crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
<script src = '../public/javascript/landing.js'></script>

</body>
</html>
