<html>
<head>
<link href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
</head>
<body>
  <nav class="navbar navbar-light bg-light">
    <a class="navbar-brand" href="#">Project: Code Talkers</a>
  <div class = 'w-50 d-flex justify-content-end'>
    <a class = 'mr-5' href = '#'> Login</a>
  </div>
  </nav>
<br>
  <form action = '/sign_up' method = 'POST' class = 'container'>
    <div class = 'text-center'> Please fill out the following information: </div>
    <br>
    <div class="row">
      <div class="col-12">
        <input type="text" class="form-control" name = 'name' placeholder="Full name">
      </div>
    </div>

    <div class="form-row">
      <div class="form-group col-md-6">
        <label for="inputEmail"></label>
        <input type="email" class="form-control" id="inputEmail4" name ='email' placeholder="Email">
      </div>
      <div class="form-group col-md-6">
        <label for="inputPassword"></label>
        <input name = 'password' type="password" class="form-control" id="inputPassword" placeholder="Password">
      </div>
    </div>
    <div class="form-row">
      <div class="form-group col-md-6">
        <label for="inputCity"></label>
        <input type="text" class="form-control" id="inputCity" name ='City' placeholder ='City'>
      </div>
      <div class="form-group col-md-6">
        <label for="inputCountry"></label>
        <input name = 'Country' type="text" class="form-control" id="inputCountry" placeholder ='Country'>
      </div>
    </div>
    <a href = '#' style = 'margin-left: 45%' type="submit" class="btn btn-success">Sign in</a>

  </form>


<script src="https://cdn.jsdelivr.net/npm/typed.js@2.0.9"></script>
<script src="https://code.jquery.com/jquery-3.3.1.js" integrity="sha256-2Kok7MbOyxpgUVvAk/HJ2jigOSYS2auK4Pfzbm7uH60="crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>

</body>
</html>
